<app-menu></app-menu>
<div class="container">

    <div class="row">
        <mat-toolbar color="primary" >    
        <span>Crud Revista</span>    
        </mat-toolbar>  
    </div>
    <div  class="row"  style="margin-top: 3%">
        <mat-form-field class="col-md-4">
            <mat-label>Nombre de revista</mat-label>
            <input  matInput  >
        </mat-form-field>

        <button mat-raised-button type="button"  color="primary" style="width: 150px;" (click)="refreshTable()">Filtrar</button>
        <button mat-raised-button type="button" color="primary" style="width: 150px;"  (click)="openDialog()">Registrar</button>
    </div>
    <!--TABLA-->
    <div  class="row"  style="margin-top: 3%">
        <mat-table  #table  class="mat-cell" [dataSource]="dataSource" >
            <ng-container matColumnDef="idRevista">
              <mat-header-cell  mat-header-cell *matHeaderCellDef >Código</mat-header-cell>
              <mat-cell *matCellDef="let aux" >{{ aux.idRevista  }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >Nombre</mat-header-cell>
                <mat-cell *matCellDef="let aux" >{{ aux.nombre}}</mat-cell>
              </ng-container>
            <ng-container matColumnDef="frecuencia">
              <mat-header-cell  mat-header-cell *matHeaderCellDef >Frecuencia</mat-header-cell>
              <mat-cell *matCellDef="let aux" >{{ aux.frecuencia}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaCreacion">
              <mat-header-cell  mat-header-cell *matHeaderCellDef >Fecha Creación</mat-header-cell>
              <mat-cell *matCellDef="let aux" >{{ aux.fechaCreacion | date:"dd/MM/yyyy"}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="telefono">
              <mat-header-cell  mat-header-cell *matHeaderCellDef >Télefono</mat-header-cell>
              <mat-cell *matCellDef="let aux" >{{ aux.telefono}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="pais">
              <mat-header-cell  mat-header-cell *matHeaderCellDef >País</mat-header-cell>
              <mat-cell *matCellDef="let aux">{{ aux.pais.nombre }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="tipo">
              <mat-header-cell  mat-header-cell *matHeaderCellDef >Tipo</mat-header-cell>
              <mat-cell *matCellDef="let aux">{{ aux.tipoRevista.descripcion }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="estado">
              <mat-header-cell mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
              <mat-cell *matCellDef="let aux">{{ aux.estado == 1 ? "Activo" : "Inactivo" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >&nbsp;</mat-header-cell>

                <mat-cell *matCellDef="let aux; let i=index;">
                    
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" 
                                id="idEstado_{{ aux.idRevista }}" name="estado" 
                                [checked]="aux.estado==1?true:false" (change)="actualizaEstado(aux)"
                               />         
                        <label class="custom-control-label" for="idEstado_{{ aux.idRevista}}"></label>
                    </div>   

                   <button mat-icon-button color="accent" (click)="openUpdateDialog(aux)">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                   </button>

                   <button mat-icon-button color="accent"  (click)="elimina(aux)">
                            <mat-icon aria-label="Delete">delete</mat-icon>
                   </button>

                </mat-cell>
           </ng-container>

 

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[6,8,10]" showFirstLastButtons></mat-paginator>
    </div>

</div>