.mat-column-idRevista {
    flex: 0 0 7%;
}
.mat-column-nombre {
    flex: 0 0 13%;
}
.mat-column-frecuencia {
    flex: 0 0 20%;
}
.mat-column-fechaCreacion {
    flex: 0 0 10%;
}
.mat-column-telefono {
    flex: 0 0 10%;
}
.mat-column-pais {
    flex: 0 0 10%;
}
.mat-column-tipo {
    flex: 0 0 5%;
}
.mat-column-estado {
    flex: 0 0 5%;
}
.mat-column-acciones {
    flex: 0 0 20%;
}